/* Fonts */
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* Default */
:root {
    --beige: beige;
    --strong-beige: rgb(218, 218, 158);
    --lightyellow: lightyellow;
    --darkgrey: #3d3d3d;
    --lightgrey: #4d4d4d;
    --yellow: yellow;

    --text-default: #4e4e4e;
    --card_border: #17301b;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0px;
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Main selectors */
a {
    color: var(--text-color);
}

h1{
    text-align: center;
}
nav {
    display: flex;
    background-color: var(--background-nav);
    padding: 0rem;
    gap: 1rem;
    align-items: center;
    vertical-align: middle;
}

nav>form>input {
    margin: 0rem .1rem 0rem .5rem;
}

.icon {
    filter: invert(0%);
    /* fill: black; */
}

.icon-dark-theme {
    filter: invert(100%);
    /* fill: white; */
}

ul {
    list-style: none;
}

/* Classes */

.nav-form {
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    align-items: center;
    height: 3rem;
}

.nav-button {
    height: 3rem;
    padding: 0rem 0.5rem;
}

.nav-button>a {
    display: inline;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 1;
}

.nav-button>a>img {
    position: relative;
    top: 15%;
    left: 0;
    height: 2rem;
    width: 2rem;
    padding: 0rem 0.25rem;
}

.nav-button:hover {
    background-color: var(--bg-color);
}

.ul-flex {
    display: flex;
    /* column-gap: 1rem; */
    margin: 0;
}

/* Cards */
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 310px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: var(--card-bg-color);
    /*Estil per a l'efecte de gir */
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card>img:first-of-type {
    height: 96px;
    width: 96px;
    align-self: center;
    margin-top: 1rem;
}

.card>p {
    text-align: center;
}

.card h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-block-start: -.5rem;
    margin-block-end: -.3rem;
    font-family: 'Pokemon Solid', sans-serif;
    text-shadow: var(--vora-text);
    white-space: nowrap;
}

/* Cards - Combat.html */

.reload-button {
    font-family: inherit;
    font-size: 1.5rem;
    background-color: var(--background-nav);
    color: var(--text-color);
    height: 3rem;
}

/* Items */

#cards-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    height: 400px;
    padding: 2vh 5vw;
    gap: 2vw;
    perspective: 600px;
}

#cards-grid[complete=true] {
    grid-template-columns: repeat(1, 1fr);
}

#cards-grid[complete=true] .card h2 {
    margin-block-start: -2rem;
}

#cont-search {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 1rem;
    gap: 5vw;
    width: 100vw;
}

#cont-search>label,
input {
    height: 2rem;
    vertical-align: middle;
}

#winner-message{
    display: none;
    height: 1.5rem;
    place-content: center;
}
/* Images */

.img-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    display: grid;
    place-content: center;
}

/* Define dark and light themes attributes */
[data-theme="light"] {
    --bg-color: var(--beige);
    --text-color: var(--darkgrey);
    --card-bg-color: var(--strong-beige);
    --background-nav: var(--strong-beige);
    --vora-text: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;

}

[data-theme="dark"] {
    --bg-color: var(--darkgrey);
    --text-color: var(--yellow);
    --card-bg-color: var(--lightgrey);
    --background-nav: var(--lightgrey);
    --vora-text: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.link-com-boto {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    height: 2rem;
}

.link-com-boto img {
    width: 2.7em;
    padding: 0 .2em;
}

/* Classes per a l'efecte de gir de la carta */

.front,
.back {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: block;
}

.card .back {
    background-image: repeating-linear-gradient(-45deg, #ececec, #ececec 10px, #dedede 10px, #dedede 20px);
}

.card .front {
    background: var(--card-bg-color);
    transform: rotateY(180deg);
}

.card .front .img-container img {
    padding-top: 2em;
}

.card.flipped {
    transform: rotateY(180deg);
}

/* Estil per a les imatges del tipus de Pokemon */
.card .estats {
    display: flex;
    justify-content: space-evenly;
}

.card .tipus-pokemon img{
    height: 3em;
    margin: 0 1em;
}

.card .card-attack, .card .card-defense {
    display: flex;
    padding: .5em .3em;
    align-items: center;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
}

.card .card-attack img, .card .card-defense img{
    height: 45px;
    flex-grow:0;
    flex-shrink:0;
}

.card .card-defense img{
    padding-right: .5em;
}